html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #ffffff;
    font-family: 'Spectral', 'Spectral SC', serif;
    overflow-x: hidden;
}

h4.panel-title {
    font-family: Spectral SC;
    font-weight: 500;
    font-size: 19px;
    font-weight: 400;
}

.navbar {
    min-height: 77px
}

.panel-body {
    color: #817c7b;
    font-family: Spectral;
    line-height: 25px;
    font-size: 17px;
}

.panel-heading {
    padding: 18px 20px;
    border: #fff;
    color: #fff;
}

.panel.panel-default {
    border-radius: 0;
}

.panel-heading {
    background: #fff;
}

div#accordion {
    margin-top: 50px;
}


/*icon arrow*/

.cls-1 {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls-2 {
    fill: none;
    stroke: #817c7b;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.col-12.copyright.text-center {
    font-style: italic;
    padding-top: 15px;
    font-family: auto;
}

.col-12.copyright.text-center p {
    font-size: 1.5rem;
}

.col-12.copyright.text-center p {
    margin-bottom: 0;
}

.product-banner_1,
.product-banner_2 {
    background: url(../imgs/h1_banner_img_1.jpg) top right no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    padding: 80px 30px;
    margin: 30px 0;
    transition: all 0.5s;
}

.product-banner_2 {
    background: url(../imgs/h1_banner_img_3_initial.jpg) top right no-repeat;
    background-size: contain;
}

.product-banner_1:hover,
.product-banner_2:hover {
    background: url(../imgs/h1_banner_img_1_hover.jpg) top right no-repeat;
    background-size: contain;
    height: 100%;
    padding: 80px 30px;
    margin: 30px 0;
    transition: all 0.5s;
}

.product-banner_2:hover {
    background: url(../imgs/h1_banner_img_1_hover.jpg) top right no-repeat;
    background-size: contain;
}

#video img,
#video iframe {
    display: block;
}

#play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#video #play:hover svg .video-button-circle {
    stroke-dashoffset: 0;
    stroke-dasharray: 700;
}

span#play .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    color: white;
}

span#play .play-button svg .video-button-stroke {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    position: relative;
    z-index: -1;
}

span#play .play-button svg .video-button-circle {
    fill: none;
    stroke: currentColor;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    stroke-dashoffset: 700;
    stroke-dasharray: 700;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-linecap: butt;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.team-info h3,
.name-product__title,
.about-us__title,
.news__title h3,
.video__text p,
.footer-date strong {
    font-weight: 500;
    margin: 10px 0;
    font-family: Spectral SC;
    font-size: 24px;
}

.footer-date strong {
    font-size: 19px;
    color: #646161;
}

.video__text p {
    color: #fff;
}

.about-us__img {
    margin-bottom: 15px;
}

.news__author p,
.video__text span {
    color: #c9693a!important;
    font-size: 18px;
    margin: 3px;
}

.tst-author p {
    font-size: 16px!important;
}

.input-letter input {
    text-align: center;
    border: 0;
    border-bottom: 1px solid #beb8b6;
    padding-bottom: 7px;
    background: none;
    color: #beb8b6;
    padding: 10px;
    width: 60%;
    margin: 18px;
}

.input-letter input:focus {
    outline: none;
}

.news__brief {
    text-align: left;
    font-size: 17px;
    margin-bottom: 10px;
}

.news__see-more p a {
    font-family: Spectral;
    font-weight: 500;
    font-style: italic;
    color: #c9693a!important;
    margin: 3px;
    font-size: 1.6rem;
}

.footer-info i {
    color: #982941;
    margin-right: 12px;
}

.footer-info p {
    margin-bottom: 10px;
}

.footer-date,
.footer-info ul li {
    margin-bottom: 10px;
}

.footer-info ul li {
    list-style-type: none;
}

.footer-info ul {
    padding: 0;
}

.show_content.collapsed:after {
    content: '\002B';
    color: #333;
    font-weight: bold;
    float: right;
}

.show_content:after {
    content: "\2212";
    color: #333;
    font-weight: bold;
    float: right;
}

.img-testi {
    width: 100px!important;
    height: auto;
    margin: auto;
}

.img-author {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.avt-effect {
    position: relative;
    width: max-content;
}

.avt-effect::before {
    content: '‟';
    font-size: 65px;
    line-height: 1;
    color: #af2a4d;
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tp-tab-title {
    font-size: 25px!important;
}

.tp-tab-desc {
    font-size: 17px!important;
    color: #982941!important;
    margin-top: 0;
    font-weight: 400;
    font-style: italic;
    line-height: 25px;
    font-family: '##desc-font##';
}

.caption__baner {
    margin-top: 150px;
}

a#go-top {
    background: #af2a4d;
    width: 45px;
    height: 45px;
    line-height: 45px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999999;
}

a#go-top i::before {
    content: "\f102";
    font-size: 19px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 28%;
    text-align: center;
}

a#go-top i {
    color: #fff;
}


/*Custom CSS by Minh*/

#bannerCarousel .left.carousel-control,
#bannerCarousel .right.carousel-control {
    color: white;
    opacity: 1;
}

#bannerCarousel .carousel-indicators {
    width: 88%;
    left: 6%;
    bottom: 12%;
    margin: 0;
}

#bannerCarousel .carousel-indicators li {
    border-radius: 0;
    width: 100%;
    height: 2px;
    transition: .4s;
    border: none;
    background: gray;
}

#bannerCarousel .carousel-indicators .active {
    width: 25%;
    height: initial;
    margin: 0;
    background: none;
}

#bannerCarousel .carousel-indicators .item-indicators {
    cursor: pointer;
}

#bannerCarousel .carousel-indicators .active .carousel-indicators-bar::before {
    width: 100%;
}

#bannerCarousel .carousel-indicators .item-indicators:hover .carousel-indicators-bar::before {
    width: 100%;
}

.carousel-indicators-bar {
    position: relative;
    width: 80%;
    height: 3px;
    background: grey;
    opacity: .7;
}

.carousel-indicators-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: white;
    transition: 1s;
}

.name-product {
    text-align: left;
    margin-bottom: 30px;
}

.left.carousel-control,
.right.carousel-control {
    background: none;
    font-size: 30px;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#testimonialCarousel .carousel-indicators li {
    border-radius: 0;
    width: 15px;
    height: 2px;
    transition: .4s;
}

#testimonialCarousel .carousel-indicators .active {
    width: 20px;
    height: 3px;
    margin: 0;
    background-color: #af2a4d;
}

#about {
    padding-top: 130px;
    background-image: url(../imgs/about-us-background.jpg) !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.about-image-title h2 {
    color: #af2a4d;
    font-size: 90px;
    font-weight: 500;
    position: absolute;
    width: max-content;
    height: max-content;
    top: -90px;
    right: -30px;
    z-index: 0;
    font-family: "Spectral SC", serif;
}

#about .about-logo img {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-45%, 25%);
}

.about-image-caption p {
    color: #666268;
    font-weight: 500;
}

#video-ads img {
    max-width: 100%;
}

#team .team-hover .team-item {
    background: #292929;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #d9d9d9;
    font-size: 20px;
    margin: 15px 5px 0 5px;
    outline: white solid 1px;
}

#team .team-hover .team-item a {
    color: white;
}

.img-for-footer {
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../imgs/Footer_grafika.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 65px;
}

.top-nav {
    position: absolute;
    height: 40px;
    background-color: rgba(102, 97, 97, 0.11);
    font-size: 14px;
    z-index: 400;
    top: 0;
    width: 100%;
    left: 0;
}

.top-nav .follow-us ul li {
    display: inline;
    float: left;
    padding: 10px;
    list-style-type: none;
    color: #fff;
}


/*.navbar-nav {
    margin-top: 30px;
}*/

.navbar-icon {
    min-width: 50px;
    max-height: 50px;
    border: 1px solid white;
    text-align: center;
    padding: 0;
    line-height: 50px;
}

.navbar-icon:hover {
    background: white !important;
    color: #b02b4d !important;
}

.li-icon:hover .navbar-icon {
    background: white;
    color: orange;
}

.top-nav .follow-us ul li a i {
    color: #fff;
}

.top-nav .search-ctr {
    color: #fff;
    line-height: 29px;
    position: relative;
    margin-top: 5px;
}

.top-nav .search-ctr input {
    background: none;
    border: .15px solid #af2a4d;
    padding: 0 10px;
    color: #fff;
    width: 235px;
}

.top-nav .search-ctr input::placeholder {
    color: #fff;
    font-weight: 100;
}

.top-nav .search-ctr input:focus {
    outline: none;
}

.top-nav .search-ctr a i {
    color: #fff;
    background: #af2a4d;
    padding: 7px 12px;
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
}
.news__avatar img{
    width: 263px;
    height: 345px;
    object-fit: cover;
}
.news__brief .read-more {
    font-family: Spectral;
    font-weight: 500;
    font-style: italic;
    color: #c9693a!important;
    margin: 3px;
    font-size: 1.6rem;
}

/* YOUR CSS simplified */

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    height: auto;
    width: 100%;
    line-height: 1;
}

.navbar-nav {
    /* margin-top: 30px; */
}

.remove-mg {
    margin-top: 0;
}


/*Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb*/

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.navbar-collapse.in {
    height: 170px;
}


/*WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity*/

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner>.item.next,
    .carousel-fade .carousel-inner>.item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner>.item.prev,
    .carousel-fade .carousel-inner>.item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner>.item.next.left,
    .carousel-fade .carousel-inner>.item.prev.right,
    .carousel-fade .carousel-inner>.item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


/*Custom CSS Tin tức, liên hệ */

.services_img {
    margin-bottom: 40px;
}

.services_img h3 {
    font-size: 35px;
    color: #666;
}

#news-blog {
    padding: 60px 50px;
}

.new-blog .blog__img img,
.all-blog .blog__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 20px 0;
}

.all-blog .content-blog .blog-title {
    font-size: 26px;
}

.new-blog .content-blog .blog-title {
    font-size: 16px;
}

.new-blog .content-blog .blog__date,
.all-blog .content-blog .blog__date {
    color: #b02b4d;
    font-family: Spectral, serif;
    font-style: italic;
    font-size: 15px;
    line-height: 28px;
}

.sample-new-blog .blog__img img {
    width: 100%;
    height: auto;
}

.sample-new-blog .content-blog .blog__date {
    color: gray;
}

.blog__title a strong {
    color: #af2a4d;
    font-size: 20px;
}

.blog__text {
    font-size: 17px;
    margin-bottom: 40px;
    color: #55514d;
}

.row.sample-new-blog {
    padding: 50px 0;
}

.all-blog {
    padding-top: 50px;
}

.all-blog .blog__title {
    margin-top: 12px;
}

#contact-template {
    padding: 0;
}

.address {
    padding: 10px 0 50px;
}

.wrapper-contact-form {
    padding-bottom: 100px;
}

.title-contact {
    text-transform: uppercase;
    font-size: 30px;
}

.contact__form {}

.form-contact-heading {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "Spectral SC", serif;
    font-weight: 400;
    color: #2b2824;
    font-size: 40px;
    line-height: 1.175em;
    letter-spacing: .05em;
    margin: 25px 0;
    margin-bottom: 10px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

p.form-contact-sub-heading {
    font-family: Spectral, serif;
    color: #c8693a;
    font-size: 19px;
    font-style: italic;
    letter-spacing: 0;
    margin: 11px 0 29px;
}

.submit-contact {
    background: #af2a4d!important;
    padding: 12px 35px!important;
    border-radius: unset;
    text-transform: uppercase;
    font-family: auto;
    font-weight: 700;
    border: 1px solid #af2a4d;
    line-height: 30px;
}

.submit-contact:hover {
    border: 1px solid #666;
}

.contact .services_img .address {
    font-size: 17px;
}

.address i {
    color: #af2a4d;
}

.customer-support .card-body ul a li {
    background: url('../../img/icon-pdf.png') no-repeat left center;
    padding-left: 25px;
}

.form-div_1 {
    padding-left: 0;
}

.form-div_2 {
    padding-right: 0;
}

@media only screen and (min-width: 320px) and (max-width: 920px) {
    .sample-new-blog .blog__img {
        margin-bottom: 20px;
    }
    .submit-contact {
        margin-bottom: 30px;
    }
}


/*Modal product*/

#modal-product-1,
#modal-product-2 {
    padding: 0 !important;
}

.modal-product-info {
    height: 100%;
    width: 65%;
    margin-top: 0;
    background: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 50%;
    margin: auto;
    transform: translateX(-50%) !important;
}

.modal-content {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: unset;
    padding: 20px;
}

.modal-product-info .product-image {
    width: 100%;
    height: 100%;
}

.modal-product-info .product-info-title {
    font-family: "Spectral SC", serif;
    font-weight: 400;
    color: #2b2824;
    font-size: 40px;
    line-height: 1.175em;
    margin: 0px 0;
    margin-top: -7px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.modal-product-info .product-info-description {
    font-family: Spectral, serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #817c7b;
    margin-top: 40px;
    margin-bottom: 40px;
}

.modal-product-info .product-info-button {
    background: #982941;
    color: #fff;
    font-size: 15px;
    width: 180px;
    padding: 15px 45px;
    margin: auto;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 500;
}

.modal-backdrop.in:hover {
    cursor: pointer;
}